
.main-header .navbar{
    background-color: #00857C  !important;  /* Set the header background color */
  }
  
  .main-header .logo{
    background-color: #00857C !important;  /* Set the header background color */
  }
  
  .sidebar-menu>li.active>a {
    font-weight: bold;
  }
  
  .skin-blue .main-header .navbar {
    background-color: #00857C;
  }
  
  .sidebar-menu>li.menu-open>a {
    font-weight: bold;
  }
  
  .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #00857C;
  }
    
  .main-header .sidebar-toggle {
    background-color: #00857C;
  }
  
  .skin-blue .sidebar-menu>li.active>a {
    border-left-color: #00857c;
  }
  
  .irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
    background-color: #00857c !important;
  }
  
  .irs--shiny .irs-bar {
    border-top: 1px solid #00857c !important;
    border-bottom: 1px solid #00857c !important;
    background: #00857c !important;
  }
  
  .progress-bar {
      background-color: #00857c !important; /* Change this color */
    }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
  }
  
  * {
    font-family: 'Source Sans Pro'; 
  }
  
  .leaflet-control {
        font-family: 'Source Sans Pro', sans-serif !important;
  }
  .leaflet-tooltip {
        font-family: 'Source Sans Pro', sans-serif !important;
  }
  .leaflet-container {
    background: #ffffff !important;
  }
  
  .big-button {
        font-size: 14px; 
        color: #00857C;
        width: 325px;
        height: auto;             
        border-color: #00857C;
  }
  
  .body {
    font-weight: normal;
    height: 100vh;   /* Use full viewport height */
    overflow-y: auto;  /* Allow vertical scrolling for the entire page */
  }
  
  h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  }
  
  .centered {
    display: flex;
    justify-content: center;   /* Horizontally center */
    text-align: center;
    font-weight: normal;
  }
  
  .vcentered {
    display: flex;
    justify-content: center;   /* Horizontally center */
    align-items: center;
  }
  
  .outside-border {
      border: 3px solid #00857C;
      /* border-radius: 15px; Make corners rounded */
  }
  
  .vis-network .vis-node {
    font-family: 'Source Sans Pro' !important;  /* Force custom font */
  }

  .vis-network .vis-label {
    font-family: 'Source Sans Pro' !important;  /* Force custom font for node labels */
  }

  .vis-network .vis-edge {
    font-family: 'Source Sans Pro' !important;  /* Force custom font for edge labels */
  }
  
  table.Rtable1 {
    font-family: "Source Sans Pro";
    width: 800px;
    table-layout: fixed;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
  }

  table.Rtable1 th {
    background-color: #e8eeed;
    color: black;
    font-weight: bold;
  }
  
  table.Rtable1 th, td {
      padding: 10px;
    }

  table.Rtable1 .firstrow, .Rtable1 .firstrow ~ td {
    border-top: 1.5pt solid #00857C;
  }
  
    table.Rtable1 .lastrow {
    border-bottom: 1.5pt solid #00857C;
  }

  table.Rtable1 td.firstrow.rowlabel {
    font-weight: bold;
  }
    
  .sky-bkg {
      background-color: #e8eeed; /* sky background */
      color: #044d48;
      padding-right: 15px; /* Add left padding */
      padding-left: 15px; /* Add left padding */
      padding-top: 20px;
      padding-bottom: 40px;
      border-radius: 15px;  /* Make corners rounded */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    .sky-bkg-v-center {
      display: flex !important;
      justify-content: center; 
      align-items: center;
      padding-left: 10px; /* Add left padding */
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #e8eeed; /* sky background */
      color: #044d48;
      border-radius: 15px;  /* Make corners rounded */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }
  
  .content-wrapper {
    background-color: #FFFFFF
  }

  #ec_avail_plot {
    overflow-y: scroll; 
  }
  
  .bslib-sidebar-layout>.main {
    background-color: #FFFFFF;
    color: #044d48;
  }
  
  .bslib-sidebar-layout>.sidebar {
     background-color: #00857C;
     color: #FFFFFF;
  }
  
  .nav>li>a {
    width: 100%;
  }
            
  .nav-pills>li.active>a {
      font-size: 17px !important;
      font-weight: bold;  /* Make the text bold */
      background-color: #e8eeed;
      border: 2px solid #00857C; 
      color: #000000;
      border-top-color: #00857C;
      /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .nav-pills>li.active>a:focus {
      background-color: #e8eeed;
      border: 2px solid #00857C; 
      color: #000000;
      border-top-color: #00857C;
      /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .nav-pills>li.active>a:hover {
      background-color: #e8eeed;
      border: 2px solid #00857C; 
      color: #000000;
      border-top-color: #00857C;
      /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .nav-pills>li>a {
      font-size: 17px !important;
      border-radius: 15px; /* Make corners rounded */
      /* width: 30% !important; */ 
      text-align: left !important; 
      background-color: #e8eeed;
      border: 2px solid #00857C; 
      color: #000000;
      margin-right: 7px;  /* Add space between the tabs */
      /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .html-fill-container > .html-fill-item  {
    display: block;
  }





      